/OnTapJava/Bai1/target/
/OnTapJava/Bai2/target/
/OnTapJava/Bai3/target/
/OnTapJava/Bai4/target/
/OnTapJava/Bai5/target/
/Bai10_BienLaiTienDien/build/
/Bai10_BienLaiTienDien/nbproject/private/
/OnTapJava/Bai6/target/
/OnTapJava/Bai7/target/
/OnTapJava/Bai8/target/
/OnTapJava/Bai9/target/
/OnTapJava/Bai10/target/
